<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This website is created by Suneel Khatri. It uses data from mapbox.com and weatherstack.com!</p>
        <img class="avatar" src="img/me.jpg" alt="My Picture">

    </div>
    
    {{>footer}}
</body>
</html>